ion-content{
    height: 100%;
    --background:#000 
    url("/assets/backcolor.png") no-repeat  center / cover ;
}


.content{
    margin-top:50%;
    width: 100%;
    height: 70%;
    position: absolute;
}



ion-item{
    margin:5px;
    border-radius: 8px;
    border: none transparent;
}

.action-buttons{
    margin-top:10%;
}

.forgot{
    color: #fff0f0;
}